USE [master]
GO
/****** Object:  Database [minisuper]    Script Date: 11/11/2017 23:29:06 ******/
CREATE DATABASE [minisuper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'minisuper', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\minisuper.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'minisuper_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\minisuper_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [minisuper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [minisuper]
GO
/****** Object:  StoredProcedure [dbo].[mayor_inversion]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[mayor_inversion] (@inversion int)
as
begin
	select * from dbo.SumInvent where Total_Por_Producto > @inversion
end
exec mayor_inversion @inversion = 50000

GO
/****** Object:  StoredProcedure [dbo].[mayor_venta]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[mayor_venta] (@var1 int)
as 
begin
	select * from dbo.DetalleDeV where producto_cant > @var1
end
execute mayor_venta @var1 = 2
GO
/****** Object:  StoredProcedure [dbo].[prodbar]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[prodbar] (@var2 int, @var3 int)
as
begin
	select * from dbo.InvenTo where cantidad < @var2 and PrecioProducto < @var3
end
execute prodbar @var2 = 2000, @var3 = 1000
GO
/****** Object:  StoredProcedure [dbo].[prove]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[prove] (@prov varchar(20))
as
begin
	select * from dbo.ProdPro where Nombre_Proveedor = @prov
end
execute prove @prov = 'SONY'

GO
/****** Object:  StoredProcedure [dbo].[tipopag]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[tipopag] (@tp varchar(10))
as
begin
	select * from dbo.PagoVen where Tipo_de_Pago = @tp and monto > 50
end
execute tipopag @tp = 'Efectivo'
GO
/****** Object:  UserDefinedFunction [dbo].[fnabastecer]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnabastecer] (@actual int, @abastecimiento int)		-- verificara la cantidad de productos acutales en el primer valor y sumara 
returns int
as
begin
	RETURN  (@actual + @abastecimiento)
end
GO
/****** Object:  Table [dbo].[cajero]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cajero](
	[idCajero] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[telefono] [varchar](20) NULL,
	[celular] [varchar](20) NOT NULL,
	[sexo] [char](10) NOT NULL,
	[fechaNac] [date] NOT NULL,
 CONSTRAINT [PK_cajero] PRIMARY KEY CLUSTERED 
(
	[idCajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[d_orden_c]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[d_orden_c](
	[idProducto] [uniqueidentifier] NOT NULL,
	[orden_c] [varchar](100) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [money] NOT NULL,
	[total] [money] NOT NULL,
	[idProveedor] [uniqueidentifier] NOT NULL,
	[Folio] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_d_orden_c] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[detalle_of]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_of](
	[idOferta] [uniqueidentifier] NOT NULL,
	[idProducto] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_detalle_of] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[detalle_v]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_v](
	[idProducto] [uniqueidentifier] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [money] NOT NULL,
	[total] [money] NOT NULL,
	[cambio] [money] NOT NULL,
	[folio] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_detalle_v] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[inventario]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[idProducto] [uniqueidentifier] NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_inventario] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movimiento_e]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimiento_e](
	[idProducto] [uniqueidentifier] NOT NULL,
	[cantidad] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movimiento_s]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimiento_s](
	[idProducto] [uniqueidentifier] NOT NULL,
	[cantidad] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[oferta]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oferta](
	[idOferta] [uniqueidentifier] NOT NULL,
	[fecha_in] [date] NOT NULL,
	[fecha_fi] [date] NOT NULL,
 CONSTRAINT [PK_oferta] PRIMARY KEY CLUSTERED 
(
	[idOferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orden_c]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_c](
	[idProveedor] [uniqueidentifier] NOT NULL,
	[fecha_c] [date] NOT NULL,
 CONSTRAINT [PK_orden_c] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pagos]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pagos](
	[idPagos] [uniqueidentifier] NOT NULL,
	[folio] [uniqueidentifier] NOT NULL,
	[monto_de_P] [money] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[tipo_de_P] [varchar](20) NULL,
 CONSTRAINT [PK_pagos] PRIMARY KEY CLUSTERED 
(
	[idPagos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[producto]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[producto](
	[idProducto] [uniqueidentifier] NOT NULL,
	[descripcion] [varchar](50) NULL,
	[nombre] [varchar](20) NOT NULL,
	[precio] [money] NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[proveedor](
	[idProveedor] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [varchar](20) NULL,
	[celular] [varchar](20) NOT NULL,
 CONSTRAINT [PK_proveedor] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[folio] [uniqueidentifier] NOT NULL,
	[monto] [money] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[producto_cant] [int] NOT NULL,
	[idCajero] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ventas] PRIMARY KEY CLUSTERED 
(
	[folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[DetalleDeV]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view  [dbo].[DetalleDeV] as
select v.*, c.nombre as nombre , c.apellidos as apellidos
from Ventas v
join Cajero as c on c.idCajero = v.idCajero

GO
/****** Object:  View [dbo].[InvenTo]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[InvenTo] as
select i.*, p.nombre as NombreProducto, p.precio as PrecioProducto
from inventario i
join producto as p on p.idProducto = i.idProducto

GO
/****** Object:  View [dbo].[SumInvent]    Script Date: 11/11/2017 23:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[SumInvent] as 
select p.idProducto, p.nombre as NombreProducto, i.cantidad , sum(p.precio*cantidad) as Total_Por_Producto
from inventario i 
join producto as p on p.idProducto = i.idProducto
group by p.idProducto, p.nombre, i.cantidad


GO
INSERT [dbo].[cajero] ([idCajero], [nombre], [apellidos], [telefono], [celular], [sexo], [fechaNac]) VALUES (N'4ddc8012-ca99-4b0a-aa92-1521802918f0', N'Saul Oswaldo', N'Rodriguez Torres', N'81479513', N'8114795024', N'M         ', CAST(0x6E230B00 AS Date))
INSERT [dbo].[cajero] ([idCajero], [nombre], [apellidos], [telefono], [celular], [sexo], [fechaNac]) VALUES (N'27a70b55-c2ac-44cd-a07b-4fd855fabae8', N'Carolina', N'Castillo', N'81264785', N'8123908252', N'F         ', CAST(0xE0240B00 AS Date))
INSERT [dbo].[cajero] ([idCajero], [nombre], [apellidos], [telefono], [celular], [sexo], [fechaNac]) VALUES (N'a8d9e4ea-d39e-4c67-bc7e-53e224466727', N'Karla', N'Leal', N'81117512', N'8132256204', N'F         ', CAST(0x691F0B00 AS Date))
INSERT [dbo].[d_orden_c] ([idProducto], [orden_c], [cantidad], [precio], [total], [idProveedor], [Folio]) VALUES (N'e9ce2172-5985-4ed6-bdc4-5af9ae2b8e9f', N'Se solicitó antimateria a ANTIMAT para fines educativos', 1, 10999.0000, 10999.0000, N'c2fa47c7-f427-453a-8b43-20e0b3f48930', N'bcb2f0e0-b429-49ef-a454-2609b31b53de')
INSERT [dbo].[d_orden_c] ([idProducto], [orden_c], [cantidad], [precio], [total], [idProveedor], [Folio]) VALUES (N'f1e97120-e52e-4ba5-942a-ea8178f5a40b', N'Se solicitaron Almendras grandes', 100, 299.0000, 29900.0000, N'41fce739-1cf7-4ee8-823e-f927642e06a3', N'c83d8722-f78c-40c4-b40b-4eb1f700d6f2')
INSERT [dbo].[d_orden_c] ([idProducto], [orden_c], [cantidad], [precio], [total], [idProveedor], [Folio]) VALUES (N'bd55981e-04e6-4401-9bf2-467c1f0f961e', N'Se pidieron consolas a SONY', 20, 6999.0000, 139980.0000, N'1877c7ba-8733-4079-9f1a-7394b6db6fef', N'818fb7e8-9f9f-4302-b069-52ded694d24e')
INSERT [dbo].[detalle_of] ([idOferta], [idProducto]) VALUES (N'7531483c-fde7-4a3f-a89e-667c79d45749', N'356ebdae-0df8-477d-b920-62813a2cda41')
INSERT [dbo].[detalle_of] ([idOferta], [idProducto]) VALUES (N'6347c4fc-540f-4e9c-9818-d1717db4b49c', N'3eed0473-39d3-4060-9fcb-c93a9aecc433')
INSERT [dbo].[detalle_of] ([idOferta], [idProducto]) VALUES (N'fdd41c61-d732-4d38-9ca3-041e60afd481', N'6b9d1164-d6bd-47d0-870a-e3ba07942c83')
INSERT [dbo].[detalle_v] ([idProducto], [cantidad], [precio], [total], [cambio], [folio]) VALUES (N'd6079e46-16a2-453f-9850-161f734bd98a', 1, 49.0000, 49.0000, 0.0000, N'17592d02-ab3b-4727-bb9b-077f02428264')
INSERT [dbo].[detalle_v] ([idProducto], [cantidad], [precio], [total], [cambio], [folio]) VALUES (N'bd55981e-04e6-4401-9bf2-467c1f0f961e', 1, 6999.0000, 6999.0000, 0.0000, N'5a19d1d2-e49f-45cd-9691-6f8caf720225')
INSERT [dbo].[detalle_v] ([idProducto], [cantidad], [precio], [total], [cambio], [folio]) VALUES (N'ac5db049-7d8c-4424-9ce6-4aa71155b526', 1, 80.0000, 80.0000, 0.0000, N'42414144-e54f-444b-b263-cf40a78d85c7')
INSERT [dbo].[inventario] ([idProducto], [cantidad]) VALUES (N'd6079e46-16a2-453f-9850-161f734bd98a', 600)
INSERT [dbo].[inventario] ([idProducto], [cantidad]) VALUES (N'bd55981e-04e6-4401-9bf2-467c1f0f961e', 20)
INSERT [dbo].[inventario] ([idProducto], [cantidad]) VALUES (N'ac5db049-7d8c-4424-9ce6-4aa71155b526', 1000)
INSERT [dbo].[movimiento_e] ([idProducto], [cantidad]) VALUES (N'e9ce2172-5985-4ed6-bdc4-5af9ae2b8e9f', 1)
INSERT [dbo].[movimiento_e] ([idProducto], [cantidad]) VALUES (N'f1e97120-e52e-4ba5-942a-ea8178f5a40b', 100)
INSERT [dbo].[movimiento_e] ([idProducto], [cantidad]) VALUES (N'bd55981e-04e6-4401-9bf2-467c1f0f961e', 20)
INSERT [dbo].[movimiento_s] ([idProducto], [cantidad]) VALUES (N'd6079e46-16a2-453f-9850-161f734bd98a', 1)
INSERT [dbo].[movimiento_s] ([idProducto], [cantidad]) VALUES (N'bd55981e-04e6-4401-9bf2-467c1f0f961e', 1)
INSERT [dbo].[movimiento_s] ([idProducto], [cantidad]) VALUES (N'ac5db049-7d8c-4424-9ce6-4aa71155b526', 1)
INSERT [dbo].[oferta] ([idOferta], [fecha_in], [fecha_fi]) VALUES (N'fdd41c61-d732-4d38-9ca3-041e60afd481', CAST(0x3C3D0B00 AS Date), CAST(0x4F3D0B00 AS Date))
INSERT [dbo].[oferta] ([idOferta], [fecha_in], [fecha_fi]) VALUES (N'7531483c-fde7-4a3f-a89e-667c79d45749', CAST(0x783D0B00 AS Date), CAST(0x7B3D0B00 AS Date))
INSERT [dbo].[oferta] ([idOferta], [fecha_in], [fecha_fi]) VALUES (N'6347c4fc-540f-4e9c-9818-d1717db4b49c', CAST(0x5A3D0B00 AS Date), CAST(0x6D3D0B00 AS Date))
INSERT [dbo].[orden_c] ([idProveedor], [fecha_c]) VALUES (N'558993dd-3d17-4603-8016-14410b758340', CAST(0x153C0B00 AS Date))
INSERT [dbo].[orden_c] ([idProveedor], [fecha_c]) VALUES (N'496ee33b-846e-4304-9d2e-14a591c5efb9', CAST(0x153C0B00 AS Date))
INSERT [dbo].[orden_c] ([idProveedor], [fecha_c]) VALUES (N'1fc0e252-fd0c-4bc7-8bd7-15cb7ff1fbc9', CAST(0x153C0B00 AS Date))
INSERT [dbo].[pagos] ([idPagos], [folio], [monto_de_P], [fecha], [hora], [tipo_de_P]) VALUES (N'8b6434bb-7f67-462d-8102-36a8801d9bb3', N'eaca20cc-b735-467e-b9a8-907962fbc7e5', 380.0000, CAST(0x833D0B00 AS Date), CAST(0x0780F0D4FB9A0000 AS Time), N'Credito')
INSERT [dbo].[pagos] ([idPagos], [folio], [monto_de_P], [fecha], [hora], [tipo_de_P]) VALUES (N'7b35e0fa-55eb-4dab-a603-740839d6f63d', N'5a19d1d2-e49f-45cd-9691-6f8caf720225', 7198.0000, CAST(0x833D0B00 AS Date), CAST(0x0780995B169C0000 AS Time), N'Efectivo')
INSERT [dbo].[pagos] ([idPagos], [folio], [monto_de_P], [fecha], [hora], [tipo_de_P]) VALUES (N'58406af0-bf0f-439e-bc75-a5a1dc8e642c', N'21e7e035-236f-4be4-96af-66e35b541e2c', 154.0000, CAST(0x673D0B00 AS Date), CAST(0x0700FBFA53790000 AS Time), N'Efectivo')
INSERT [dbo].[producto] ([idProducto], [descripcion], [nombre], [precio]) VALUES (N'd6079e46-16a2-453f-9850-161f734bd98a', N'Cereal', N'Zucaritas', 49.0000)
INSERT [dbo].[producto] ([idProducto], [descripcion], [nombre], [precio]) VALUES (N'bd55981e-04e6-4401-9bf2-467c1f0f961e', N'Play4Ueeee', N'PS4', 6999.0000)
INSERT [dbo].[producto] ([idProducto], [descripcion], [nombre], [precio]) VALUES (N'ac5db049-7d8c-4424-9ce6-4aa71155b526', N'Carne de res', N'Tyson', 80.0000)
INSERT [dbo].[proveedor] ([idProveedor], [nombre], [direccion], [telefono], [celular]) VALUES (N'558993dd-3d17-4603-8016-14410b758340', N'DelValle', N'Col:JuguitosNarajas #8169', N'811243', N'8115171928')
INSERT [dbo].[proveedor] ([idProveedor], [nombre], [direccion], [telefono], [celular]) VALUES (N'496ee33b-846e-4304-9d2e-14a591c5efb9', N'Nintendo', N'Syllicon Valley #423', N'871147860', N'8115472915')
INSERT [dbo].[proveedor] ([idProveedor], [nombre], [direccion], [telefono], [celular]) VALUES (N'1fc0e252-fd0c-4bc7-8bd7-15cb7ff1fbc9', N'Agua purificada Ciel', N'Col: Almaguer Beltrán #332', N'81250468', N'810541920612')
INSERT [dbo].[ventas] ([folio], [monto], [fecha], [hora], [producto_cant], [idCajero]) VALUES (N'17592d02-ab3b-4727-bb9b-077f02428264', 49.0000, CAST(0x673D0B00 AS Date), CAST(0x07800F9932770000 AS Time), 1, N'2fecc078-84da-4d26-98d9-93d44e1fa0e6')
INSERT [dbo].[ventas] ([folio], [monto], [fecha], [hora], [producto_cant], [idCajero]) VALUES (N'0c7ea0c9-67bc-42fc-846b-35d112530d11', 74.0000, CAST(0x673D0B00 AS Date), CAST(0x070018CEF5780000 AS Time), 3, N'2fecc078-84da-4d26-98d9-93d44e1fa0e6')
INSERT [dbo].[ventas] ([folio], [monto], [fecha], [hora], [producto_cant], [idCajero]) VALUES (N'21e7e035-236f-4be4-96af-66e35b541e2c', 154.0000, CAST(0x673D0B00 AS Date), CAST(0x0700FBFA53790000 AS Time), 4, N'27a70b55-c2ac-44cd-a07b-4fd855fabae8')
ALTER TABLE [dbo].[d_orden_c]  WITH CHECK ADD  CONSTRAINT [FK_d_orden_c_orden_c] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[orden_c] ([idProveedor])
GO
ALTER TABLE [dbo].[d_orden_c] CHECK CONSTRAINT [FK_d_orden_c_orden_c]
GO
ALTER TABLE [dbo].[d_orden_c]  WITH CHECK ADD  CONSTRAINT [FK_d_orden_c_producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([idProducto])
GO
ALTER TABLE [dbo].[d_orden_c] CHECK CONSTRAINT [FK_d_orden_c_producto]
GO
ALTER TABLE [dbo].[d_orden_c]  WITH CHECK ADD  CONSTRAINT [FK_d_orden_c_proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[d_orden_c] CHECK CONSTRAINT [FK_d_orden_c_proveedor]
GO
ALTER TABLE [dbo].[detalle_of]  WITH CHECK ADD  CONSTRAINT [FK_detalle_of_oferta] FOREIGN KEY([idOferta])
REFERENCES [dbo].[oferta] ([idOferta])
GO
ALTER TABLE [dbo].[detalle_of] CHECK CONSTRAINT [FK_detalle_of_oferta]
GO
ALTER TABLE [dbo].[detalle_of]  WITH CHECK ADD  CONSTRAINT [FK_detalle_of_producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([idProducto])
GO
ALTER TABLE [dbo].[detalle_of] CHECK CONSTRAINT [FK_detalle_of_producto]
GO
ALTER TABLE [dbo].[detalle_v]  WITH CHECK ADD  CONSTRAINT [FK_detalle_v_producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([idProducto])
GO
ALTER TABLE [dbo].[detalle_v] CHECK CONSTRAINT [FK_detalle_v_producto]
GO
ALTER TABLE [dbo].[detalle_v]  WITH CHECK ADD  CONSTRAINT [FK_detalle_v_ventas] FOREIGN KEY([folio])
REFERENCES [dbo].[ventas] ([folio])
GO
ALTER TABLE [dbo].[detalle_v] CHECK CONSTRAINT [FK_detalle_v_ventas]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([idProducto])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_producto]
GO
ALTER TABLE [dbo].[movimiento_e]  WITH CHECK ADD  CONSTRAINT [FK_movimiento_e_inventario] FOREIGN KEY([idProducto])
REFERENCES [dbo].[inventario] ([idProducto])
GO
ALTER TABLE [dbo].[movimiento_e] CHECK CONSTRAINT [FK_movimiento_e_inventario]
GO
ALTER TABLE [dbo].[movimiento_s]  WITH CHECK ADD  CONSTRAINT [FK_movimiento_s_detalle_v] FOREIGN KEY([idProducto])
REFERENCES [dbo].[detalle_v] ([idProducto])
GO
ALTER TABLE [dbo].[movimiento_s] CHECK CONSTRAINT [FK_movimiento_s_detalle_v]
GO
ALTER TABLE [dbo].[movimiento_s]  WITH CHECK ADD  CONSTRAINT [FK_movimiento_s_inventario] FOREIGN KEY([idProducto])
REFERENCES [dbo].[inventario] ([idProducto])
GO
ALTER TABLE [dbo].[movimiento_s] CHECK CONSTRAINT [FK_movimiento_s_inventario]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_pagos_ventas] FOREIGN KEY([folio])
REFERENCES [dbo].[ventas] ([folio])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_pagos_ventas]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_ventas_cajero] FOREIGN KEY([idCajero])
REFERENCES [dbo].[cajero] ([idCajero])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_ventas_cajero]
GO
USE [master]
GO
