USE [master]
GO
/****** Object:  Database [HOLA]    Script Date: 02/09/2017 02:17:16 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'HOLA')
BEGIN
CREATE DATABASE [HOLA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOLA', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HOLA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HOLA_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HOLA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOLA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
