USE [master]
GO
/****** Object:  Database [mitienditadeabarrotes]    Script Date: 13/12/2017 19:20:38 ******/
CREATE DATABASE [mitienditadeabarrotes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mitienditadeabarrotes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mitienditadeabarrotes.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mitienditadeabarrotes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mitienditadeabarrotes_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mitienditadeabarrotes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mitienditadeabarrotes]
GO
/****** Object:  StoredProcedure [dbo].[compraporfecha]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[compraporfecha] @fecha date
 as
 begin
 select * from comprainventario where fechaentrada = @fecha
 end
GO
/****** Object:  StoredProcedure [dbo].[comprapormarca]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[comprapormarca] @proveedor varchar(25), @fecha date 
as 
begin
 select * from comprainventario where proveedor = @proveedor and fechaentrada = @fecha
 end
GO
/****** Object:  StoredProcedure [dbo].[precios]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[precios] @dinero money
as
begin
select * from producto where precio = @dinero 
end
GO
/****** Object:  StoredProcedure [dbo].[procesoventa]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[procesoventa] @tipo varchar(25)
 as
 begin
 select * from tipodeventa where tipo = @tipo
 end

GO
/****** Object:  StoredProcedure [dbo].[tipoproducto]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[tipoproducto] @tipo varchar(50)
 as
 begin
 select * from producto where tipo = @tipo
 end
GO
/****** Object:  UserDefinedFunction [dbo].[promediotipoprod]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[promediotipoprod] (@bebidas int , @limpieza int, @alimento int, @carnes int)
returns int
as begin

return (@bebidas + @limpieza + @alimento + @carnes)/4
end
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[idcliente] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido_p] [varchar](30) NOT NULL,
	[apellido_m] [varchar](30) NOT NULL,
	[direccion] [varchar](60) NOT NULL,
	[fecha_naci] [date] NOT NULL,
	[sexo] [char](10) NOT NULL,
	[tel] [char](8) NULL,
	[cel] [char](10) NULL,
	[clientedesde] [date] NOT NULL,
	[nombrecomp]  AS (([nombre]+[apellido_p])+[apellido_m]),
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[comprainventario]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comprainventario](
	[idpro] [uniqueidentifier] NOT NULL,
	[cantidad] [int] NOT NULL,
	[fechaentrada] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[proveedor] [varchar](50) NOT NULL,
	[nombre] [varchar](25) NOT NULL,
 CONSTRAINT [PK_comprainventario] PRIMARY KEY CLUSTERED 
(
	[idpro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empleado](
	[idempleado] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido_p] [varchar](30) NOT NULL,
	[apellido_m] [varchar](30) NOT NULL,
	[direccion] [varchar](60) NOT NULL,
	[fecha_naci] [date] NOT NULL,
	[sexo] [char](10) NOT NULL,
	[tel] [varchar](8) NULL,
	[cel] [varchar](10) NULL,
	[inicioen] [date] NOT NULL,
	[puesto] [varchar](25) NOT NULL,
	[sueldo] [money] NOT NULL,
	[nombrecomp]  AS (([nombre]+[apellido_p])+[apellido_m]),
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[idempleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inventario](
	[idpro] [uniqueidentifier] NOT NULL,
	[cantidad] [int] NOT NULL,
	[fechaentrada] [date] NOT NULL,
	[horaentrada] [time](7) NOT NULL,
	[nombre] [varchar](25) NULL,
	[proveedor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_inventario] PRIMARY KEY CLUSTERED 
(
	[idpro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[producto]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[producto](
	[idpro] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](25) NOT NULL,
	[precio] [money] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[proveedor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[idpro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[repor_inventario]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[repor_inventario](
	[idpro] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [money] NOT NULL,
	[hora] [time](7) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[repor_ventas]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repor_ventas](
	[idempleado] [uniqueidentifier] NOT NULL,
	[numdeventas] [int] NOT NULL,
	[productostotales] [int] NOT NULL,
	[moneygenerado] [float] NOT NULL,
	[dia] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[horastrabaj] [int] NOT NULL,
	[promventas]  AS ([productostotales]/[horastrabaj])
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipodeventa]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipodeventa](
	[idventa] [uniqueidentifier] NULL,
	[tipo] [varchar](20) NOT NULL,
	[fechadeventa] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[cantidad] [int] NOT NULL,
	[idpro] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tipodeventa_1] PRIMARY KEY CLUSTERED 
(
	[idpro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[venta]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[idventa] [uniqueidentifier] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[cantidad] [int] NOT NULL,
	[total] [money] NOT NULL,
	[idcliente] [uniqueidentifier] NOT NULL,
	[idempleado] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_venta] PRIMARY KEY CLUSTERED 
(
	[idventa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[clieven]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[clieven] as
select c.nombre as Nombre, c.apellido_p as Apellido_Paterno, c.apellido_m as Apellido_Materno, v.idventa as IDVenta
from cliente c
join venta as v on v.idcliente = c.idcliente
GO
/****** Object:  View [dbo].[compracliente]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[compracliente] as 
select idcliente , idempleado , fecha, total
from venta 

GO
/****** Object:  View [dbo].[protip]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[protip] as 
select p.nombre as Nombre, p.tipo as Categoría
from producto p 
GO
/****** Object:  View [dbo].[salidadeproducto]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[salidadeproducto] as
select idempleado, cantidad, hora
from venta
GO
INSERT [dbo].[cliente] ([idcliente], [nombre], [apellido_p], [apellido_m], [direccion], [fecha_naci], [sexo], [tel], [cel], [clientedesde]) VALUES (N'947ce3ab-3832-4b0c-ac90-0d31ff19a93d', N'Jorge', N'Sanchez', N'Gonzalez', N'Villas de alcala', CAST(0x83160B00 AS Date), N'masculino ', N'65841298', N'8521367852', CAST(0xA63A0B00 AS Date))
INSERT [dbo].[cliente] ([idcliente], [nombre], [apellido_p], [apellido_m], [direccion], [fecha_naci], [sexo], [tel], [cel], [clientedesde]) VALUES (N'1959a055-0883-41e3-b5d9-1d6d3affb34d', N'Barry', N'Allen', N'Allen', N'Central city', CAST(0x52E60A00 AS Date), N'masculino ', N'88965436', N'8163489205', CAST(0x8F340B00 AS Date))
INSERT [dbo].[cliente] ([idcliente], [nombre], [apellido_p], [apellido_m], [direccion], [fecha_naci], [sexo], [tel], [cel], [clientedesde]) VALUES (N'3ca8c527-d468-4526-a4b4-a6a09e0b7cfc', N'Jose', N'Torres', N'Mezzell', N'Longview, Texas', CAST(0xA8120B00 AS Date), N'masculino ', N'84654132', N'8952468725', CAST(0x6C380B00 AS Date))
INSERT [dbo].[comprainventario] ([idpro], [cantidad], [fechaentrada], [hora], [proveedor], [nombre]) VALUES (N'4b672dba-637f-4bde-a459-0a89d8a8abb3', 1, CAST(0x973D0B00 AS Date), CAST(0x0700011F414E0000 AS Time), N'Santa Clara', N'Leche')
INSERT [dbo].[comprainventario] ([idpro], [cantidad], [fechaentrada], [hora], [proveedor], [nombre]) VALUES (N'09a233f0-d1e1-4e6e-b1d2-11dc411f93eb', 40, CAST(0x983D0B00 AS Date), CAST(0x0700DBAC96590000 AS Time), N'FUD', N'Salchichas')
INSERT [dbo].[comprainventario] ([idpro], [cantidad], [fechaentrada], [hora], [proveedor], [nombre]) VALUES (N'332c2a83-d815-4e9b-a991-158ff8a5481f', 50, CAST(0x973D0B00 AS Date), CAST(0x0700DB8D8C5F0000 AS Time), N'Quala', N'vive_100')
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellido_p], [apellido_m], [direccion], [fecha_naci], [sexo], [tel], [cel], [inicioen], [puesto], [sueldo]) VALUES (N'491ae775-5abf-4d5b-8a89-7ded7d495d5e', N'Luis', N'Rodriguez', N'Alanis', N'Avenida Universidad 413, La Joroba Fomerrey 91', CAST(0x44170B00 AS Date), N'masculino ', N'56484621', N'8745425615', CAST(0x44360B00 AS Date), N'cajero', 2500.0000)
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellido_p], [apellido_m], [direccion], [fecha_naci], [sexo], [tel], [cel], [inicioen], [puesto], [sueldo]) VALUES (N'49ddabf1-d75e-4988-a1ce-a7b900f9bfb3', N'Rodolfo', N'Guzman', N'Huerta', N'Tulancingo, Hidalgo', CAST(0x2ECB0A00 AS Date), N'masculino ', N'89584696', N'8645205661', CAST(0x95380B00 AS Date), N'cajero', 2500.0000)
INSERT [dbo].[empleado] ([idempleado], [nombre], [apellido_p], [apellido_m], [direccion], [fecha_naci], [sexo], [tel], [cel], [inicioen], [puesto], [sueldo]) VALUES (N'06a2bdc4-b931-4f67-801f-be4c95217dfc', N'Francisco', N'Torres', N'Hernandez', N'California Raul salinas', CAST(0x68200B00 AS Date), N'masculino ', N'84531619', N'5236597951', CAST(0xE73B0B00 AS Date), N'cajero', 2500.0000)
INSERT [dbo].[inventario] ([idpro], [cantidad], [fechaentrada], [horaentrada], [nombre], [proveedor]) VALUES (N'4b672dba-637f-4bde-a459-0a89d8a8abb3', 124, CAST(0x973D0B00 AS Date), CAST(0x0700011F414E0000 AS Time), N'Leche', N'Santa Clara')
INSERT [dbo].[inventario] ([idpro], [cantidad], [fechaentrada], [horaentrada], [nombre], [proveedor]) VALUES (N'09a233f0-d1e1-4e6e-b1d2-11dc411f93eb', 60, CAST(0x983D0B00 AS Date), CAST(0x0700DBAC96590000 AS Time), N'Salchichas', N'FUD')
INSERT [dbo].[inventario] ([idpro], [cantidad], [fechaentrada], [horaentrada], [nombre], [proveedor]) VALUES (N'332c2a83-d815-4e9b-a991-158ff8a5481f', 60, CAST(0x973D0B00 AS Date), CAST(0x0700DB8D8C5F0000 AS Time), N'vive_100', N'Quala')
INSERT [dbo].[producto] ([idpro], [nombre], [precio], [descripcion], [tipo], [proveedor]) VALUES (N'4b672dba-637f-4bde-a459-0a89d8a8abb3', N'Leche', 18.0000, N'De los campos a tu mesa 1L', N'bebidas', N'Santa Clara')
INSERT [dbo].[producto] ([idpro], [nombre], [precio], [descripcion], [tipo], [proveedor]) VALUES (N'09a233f0-d1e1-4e6e-b1d2-11dc411f93eb', N'Salchicas', 39.0000, N'550g de salchichas', N'carnes', N'FUD')
INSERT [dbo].[producto] ([idpro], [nombre], [precio], [descripcion], [tipo], [proveedor]) VALUES (N'332c2a83-d815-4e9b-a991-158ff8a5481f', N'vive_100', 10.0000, N'vive al 100 400ml', N'bebidas', N'Quala')
INSERT [dbo].[repor_inventario] ([idpro], [nombre], [fecha], [tipo], [cantidad], [precio], [hora]) VALUES (N'4b672dba-637f-4bde-a459-0a89d8a8abb3', N'Leche', CAST(0x9F3D0B00 AS Date), N'bebidas', 100, 18.0000, CAST(0x0780FA4C82BA0000 AS Time))
INSERT [dbo].[repor_inventario] ([idpro], [nombre], [fecha], [tipo], [cantidad], [precio], [hora]) VALUES (N'09a233f0-d1e1-4e6e-b1d2-11dc411f93eb', N'Salchichas', CAST(0x9E3D0B00 AS Date), N'carnes', 50, 39.0000, CAST(0x0780FCB00BBC0000 AS Time))
INSERT [dbo].[repor_inventario] ([idpro], [nombre], [fecha], [tipo], [cantidad], [precio], [hora]) VALUES (N'332c2a83-d815-4e9b-a991-158ff8a5481f', N'vive_100', CAST(0x9F3D0B00 AS Date), N'bebidas', 50, 10.0000, CAST(0x07809C7CCFB90000 AS Time))
INSERT [dbo].[repor_ventas] ([idempleado], [numdeventas], [productostotales], [moneygenerado], [dia], [hora], [horastrabaj]) VALUES (N'49ddabf1-d75e-4988-a1ce-a7b900f9bfb3', 3, 12, 209, CAST(0xA03D0B00 AS Date), CAST(0x0700E03495640000 AS Time), 3)
INSERT [dbo].[repor_ventas] ([idempleado], [numdeventas], [productostotales], [moneygenerado], [dia], [hora], [horastrabaj]) VALUES (N'491ae775-5abf-4d5b-8a89-7ded7d495d5e', 1, 4, 50, CAST(0xA03D0B00 AS Date), CAST(0x078076CD95640000 AS Time), 2)
INSERT [dbo].[tipodeventa] ([idventa], [tipo], [fechadeventa], [hora], [cantidad], [idpro]) VALUES (N'f6e75fc4-679a-415d-8380-52fa4727985a', N'Realizada', CAST(0x9F3D0B00 AS Date), CAST(0x07804307EAC20000 AS Time), 4, N'4b672dba-637f-4bde-a459-0a89d8a8abb3')
INSERT [dbo].[tipodeventa] ([idventa], [tipo], [fechadeventa], [hora], [cantidad], [idpro]) VALUES (N'd6cb8dc3-4d96-46fb-89d5-2fa98911a393', N'Realizada', CAST(0x9F3D0B00 AS Date), CAST(0x0700573F3FBB0000 AS Time), 5, N'332c2a83-d815-4e9b-a991-158ff8a5481f')
INSERT [dbo].[tipodeventa] ([idventa], [tipo], [fechadeventa], [hora], [cantidad], [idpro]) VALUES (NULL, N'Realizada', CAST(0x9B3D0B00 AS Date), CAST(0x07006F9BC5A20000 AS Time), 2, N'f5ec25f1-7599-4bcb-bec7-230a8bf9e5f4')
INSERT [dbo].[venta] ([idventa], [fecha], [hora], [cantidad], [total], [idcliente], [idempleado]) VALUES (N'd6cb8dc3-4d96-46fb-89d5-2fa98911a393', CAST(0x9F3D0B00 AS Date), CAST(0x0700573F3FBB0000 AS Time), 5, 50.0000, N'1959a055-0883-41e3-b5d9-1d6d3affb34d', N'49ddabf1-d75e-4988-a1ce-a7b900f9bfb3')
INSERT [dbo].[venta] ([idventa], [fecha], [hora], [cantidad], [total], [idcliente], [idempleado]) VALUES (N'f6e75fc4-679a-415d-8380-52fa4727985a', CAST(0x9F3D0B00 AS Date), CAST(0x07804307EAC20000 AS Time), 4, 72.0000, N'c17580e1-4871-4edb-86f0-b2fe28a37eef', N'49ddabf1-d75e-4988-a1ce-a7b900f9bfb3')
INSERT [dbo].[venta] ([idventa], [fecha], [hora], [cantidad], [total], [idcliente], [idempleado]) VALUES (N'c7d36fcf-5690-4d2c-aeb7-59c450b3ad32', CAST(0x9F3D0B00 AS Date), CAST(0x0700CF800ABE0000 AS Time), 3, 87.0000, N'3ca8c527-d468-4526-a4b4-a6a09e0b7cfc', N'49ddabf1-d75e-4988-a1ce-a7b900f9bfb3')
ALTER TABLE [dbo].[comprainventario]  WITH CHECK ADD  CONSTRAINT [FK_comprainventario_producto] FOREIGN KEY([idpro])
REFERENCES [dbo].[producto] ([idpro])
GO
ALTER TABLE [dbo].[comprainventario] CHECK CONSTRAINT [FK_comprainventario_producto]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_comprainventario1] FOREIGN KEY([idpro])
REFERENCES [dbo].[comprainventario] ([idpro])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_comprainventario1]
GO
ALTER TABLE [dbo].[repor_inventario]  WITH CHECK ADD  CONSTRAINT [FK_repor_inventario_inventario1] FOREIGN KEY([idpro])
REFERENCES [dbo].[inventario] ([idpro])
GO
ALTER TABLE [dbo].[repor_inventario] CHECK CONSTRAINT [FK_repor_inventario_inventario1]
GO
ALTER TABLE [dbo].[repor_ventas]  WITH CHECK ADD  CONSTRAINT [FK_repor_ventas_empleado] FOREIGN KEY([idempleado])
REFERENCES [dbo].[empleado] ([idempleado])
GO
ALTER TABLE [dbo].[repor_ventas] CHECK CONSTRAINT [FK_repor_ventas_empleado]
GO
ALTER TABLE [dbo].[tipodeventa]  WITH CHECK ADD  CONSTRAINT [FK_tipodeventa_inventario] FOREIGN KEY([idpro])
REFERENCES [dbo].[inventario] ([idpro])
GO
ALTER TABLE [dbo].[tipodeventa] CHECK CONSTRAINT [FK_tipodeventa_inventario]
GO
ALTER TABLE [dbo].[tipodeventa]  WITH CHECK ADD  CONSTRAINT [FK_tipodeventa_venta] FOREIGN KEY([idventa])
REFERENCES [dbo].[venta] ([idventa])
GO
ALTER TABLE [dbo].[tipodeventa] CHECK CONSTRAINT [FK_tipodeventa_venta]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_cliente] FOREIGN KEY([idcliente])
REFERENCES [dbo].[cliente] ([idcliente])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_cliente]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_empleado1] FOREIGN KEY([idempleado])
REFERENCES [dbo].[empleado] ([idempleado])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_empleado1]
GO
/****** Object:  Trigger [dbo].[actualizacion]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[actualizacion]
on [dbo].[comprainventario] 
after update
as
begin
update inventario
set cantidad = inventario.cantidad + inserted.cantidad from inserted
---/
where inventario.idpro = inserted.idpro
end
GO
/****** Object:  Trigger [dbo].[adiosproducto]    Script Date: 13/12/2017 19:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[adiosproducto]
on [dbo].[tipodeventa]
after update
as
begin
update inventario
set cantidad = inventario.cantidad - inserted.cantidad from inserted
---/
where inventario.idpro = inserted.idpro
end

GO
USE [master]
GO
select COUNT (nombre) as 'categoria', tipo from producto group by tipo;
select MAX(cantidad) as 'Prod con mas cantidad', MIN (cantidad) as 'Prod con menos cantidad', count (nombre) as 'cantidad de prod'
from inventario


select top 10 * from producto

select max(total) as 'nuestra mayor venta'
from venta
having max(total) > 50
select cantidad, nombre
from comprainventario
where fechaentrada = '2017-12-01'

select nombre,
from producto
where tipo = 'bebidas'

select nombre
from cajero
where repor_ventas = '2'


select sum(cantidad) as 'compras de hoy'
from comprainventario
having sum(fechaentrada) = '2017-12-02'

select sum(cantidad) as 'total de inventario'
from inventario
having sum(cantidad) > 50

select * into #proveedor2 from inventario
where proveedor = 'ARCA'

select * from  #proveedor2

select * from inventario where inventario.cantidad = (select cantidad from inventario where cantidad = 124) 
